<div class="container col-5">
  <h1 class="mt-5 mb-4">Formulario</h1>
  <form (ngSubmit)="guardar()" #forma="ngForm">

    <div class="row">
      <div class="col-5">
        <label for="femail" class="form-label mb-2">Correo Electronico</label>
      </div>
      <div>
          <input
          type="text"
          id="femail"
          placeholder="correo electrónico"
          class="form-control"
          name="correo"
          [(ngModel)]="datos.correo"
          required
          minlength="7"
          #correo="ngModel"
          [class.is-invalid]="correo.invalid && correo.touched"
          pattern="^(([^<>()\[\]\.,;:\s@\”]+(\.[^<>()\[\]\.,;:\s@\”]+)*)|(\”.+\”))@(([^<>()[\]\.,;:\s@\”]+\.)+[^<>()[\]\.,;:\s@\”]{2,})$">
          
          <small class="text-danger" *ngIf="correo.invalid && correo.touched">Ingrese un email valido</small>
      </div>
    </div>

    <div class="row mt-5 mb-5">
      <div class="col-5">
        <label for="ftramites" class="form-label mb-2">Cantidad de Tramites</label><br>
        <small class="text-danger" *ngIf="tramites.invalid">* El tramite es obligatorio</small>
      </div>
      <div>
          
          <select 
          name="tramites" 
          multiple
          id="ftramites"
          class="form-select"
          required
          [(ngModel)]="datos.tramites"
          #tramites="ngModel"
          >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
          </select>          
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <label for="fdescripcion" class="form-label mb-2">Descripcion</label>
      </div>
        <div>
          <textarea 
              type="text"
              id="fdescripcion"
              class="form-control"
              name="descripcion"
              [(ngModel)]="datos.descripcion"
              required
              minlength="10"
              #descripcion="ngModel"
              [class.is-invalid]="descripcion.invalid && descripcion.touched"
              pattern="^[a-zA-ZñÑ\s]+$">
            </textarea>
            <small class="text-danger" *ngIf="descripcion.invalid && descripcion.touched">Introducir minimo 10 caracteres</small>
        </div>
    </div>
    <div>
      <button type="submit" class="mt-4 btn btn-primary" [disabled]="!forma.valid">Guardar</button>
    </div>

    <div *ngIf="enviado">
      <small class="text-success">
        Se enviaron los datos
      </small>
    </div>
  </form>
</div>